.header-footer .signup-btn{
    border: none;

}

.signup-btn {
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 25px;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer span {
    padding-bottom: 20px;

}

.section4 div {
    background-color: #3882f6;
    border-radius: 10px;
}

.section4 div strong {
    color: white;
    font-size: 24px;
}

.section4 div p{
    color: white;
    font-size: 16px;
}

.section4 {
    width: 70%;
    height: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section4 div{
    display: flex;

}

.section4 div .signup-section {
    display: flex;
    flex-direction: column;
}

.section4 div div {
    margin: 50px;
}

.section3 {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section3 div {
    width: 50%;
}

.section3 div span {
    float: right;
    font-size: 32px;
    font-weight: bolder;
}



.random_pic {
    width: 200px;
  }
  
 
  .random {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    width: 70%;
    height: 500px;
  }
  .random .random-pictures {
    display: flex;
    justify-content: space-around;
  }
  .random .section2-header {
    margin: 0px auto;
  }
  
 
  nav {
    display: flex;
    margin: auto;
    width: 80%;
    padding: 20px 0px;
    justify-content: space-between;
  }
  .nav-link-div {
    display: flex;
    width: 50%;
    justify-content: space-around;
  }
  
  .hero-div {
    display: flex;
    margin: auto;
    width: 80%;
    height: 500px;
    justify-content: space-between;
    align-items: center;
  }
  .hero-main-div {
    width: 35%;
  }
  .hero-main-div p {
    margin: 20px;
    margin-left: 0px;
  }
 
 img {
    width: 200px;
    height: 250px;
  }
  
 
  .header-footer .hero-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
  }
  
  .header-footer .hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
  }
  
  .header-footer .hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
  }
  
  .section2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }
  
  .section3 .quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    opacity: 0.6;
  }
  
  /* backgrounds */
  .header-footer {
    background-color: #1f2937;
  }
  .section3 {
    background-color: #e5e7eb;
  }
  .header-pic {
    width: 500px;
    height: 250px;
}
